<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        #pageHeader {
        background-color: pink;
        color: navy;
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<div th:replace="common.html::common"></div>
<div th:replace="header.html::header"></div>
<div class="container">
    <br>
    <div id="pageHeader"><h3><strong>통계 페이지</strong></h3></div>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <div class="tab-wrapper">
                <ul class="tabs nav d-flex flex-column">
                    <li class="nav-item tab-link current" data-tab="tab-1">신청내역</li>
                    <li class="nav-item tab-link" data-tab="tab-2">통계</li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">
            <div id="tab-1" class="tab-content current">
                <!-- 해당 멤버가 개설한 강의를 결제한 회원들 신청 내역 -->

            </div>
            <div id="tab-2" class="tab-content">

            </div>
            <div id="tab-3" class="tab-content">

            </div>
        </div>
    </div>
</div>


</body>
</html>